// Edit what  you need to be edit

@use "./colors" as *;
@use "./mixins" as *;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    list-style:none;
    border:none;
    text-decoration:none;
    border: none;

}
html{
    color-scheme: light dark;
    width: 100%;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    
}
