<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Link to CSS  -->
    <!-- Customize according to where your compiled css file is -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <!-- Your HTML Code Here -->

    <!-- link to js -->
    <script src="./js/script.js"></script>
</body>

</html>