<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title Here</title>

    <!-- styling here -->
    <style>
        *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        outline:none;
        list-style:none;
        border:none;
        text-decoration:none;
        border: none;

        }
        html{
        color-scheme: light dark;
        width: 100%;
        }
        h1,h2,h3,h4,h5,h6,p{
        margin: 0;
        padding: 0;

        }

    </style>
</head>
<body>
    <!-- Your HTML code Here -->


    <!-- JavaScript  Script Here -->
    <script>
        //You JavaScript Code Here
    </script>
</body>
</html>